In [9]:
import sys, os
import pandas as pd
# Add the 'scripts' directory to the Python path
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

from fetchStockData import fetch_historical_data

# extract multiple datasets  and concatenate in one dataset for analysis
# List of stocks
stocks = ['AAPL','AMZN','GOOG','META', 'MSFT', 'NVDA','TSLA']
# Fetch historical data for list of stocks

 # Fetch data for AAPL, GOOGL, and MSFT, etc
df = fetch_historical_data(stocks, start_date='2010-01-01', end_date='2023-01-01')
    
# Explore the results
df.head()

               Open     High      Low    Close        Volume stock
Date
2022-12-30  127.213  128.739  126.244  128.719  7.775874e+07  AAPL
2022-12-29  126.797  129.265  126.540  128.402  7.641573e+07  AAPL
2022-12-28  128.462  129.807  124.697  124.865  8.624197e+07  AAPL
2022-12-27  130.155  130.185  127.520  128.819  6.965687e+07  AAPL
2022-12-23  129.699  131.181  128.432  130.632  6.441509e+07  AAPL

In [10]:
# get size of the dataset
df.shape

(21119, 6)

In [11]:
# check missing values
df.isnull().sum()

Open      0
High      0
Low       0
Close     0
Volume    0
stock     0
dtype: int64

In [12]:
# check the data types
df.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
stock      object
dtype: object

In [13]:
# check duplicates
df.duplicated().sum()

np.int64(0)

### Apply Analysis Indicators Using TA-Lib

Here we can use `TA-Lib` to calculate various technical indicators such as moving averages, RSI (Relative Strength Index), and MACD (Moving Average Convergence Divergence)

In [2]:
import pandas as pd
import pandas_ta as ta
print(ta.__version__)

ModuleNotFoundError: No module named 'pandas_ta'